.landing {
  width: 90%;
  margin: 5% auto;
  .landingHeaderContainer {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;

    img {
      width: 500px;
      height: 350px;
    }
    h2 {
      color: #222831;
      text-align: center;
      font-size: 3rem;
    }
  }

  p {
    color: #222831;
  }

  .land-links {
  }
}
