.landing {
  width: 75%;
  margin: 5% auto;
  .landing-left {
  }
  h1 {
    color: #222831;
  }
  h2 {
    color: #222831;
    text-align: center;
    font-size: 3rem;
  }

  p {
    color: #222831;
  }

  .land-links {
  }
}
