.NavBar {
  width: 95%;
  margin: auto;
  border-bottom: solid #596e79 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h1 {
    color: #222831;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
  }

  .navHeader {
    display: flex;
    text-decoration: none;
    width: 50%;
  }

  .navPages {
    margin: 0 auto;
    width: 48%;
    display: flex;
    justify-content: flex-end;
    .navlinks {
      margin: 0 4%;
      text-decoration: none;
      color: black;
      font-weight: bold;
      border-radius: 2px;
    }
  }
}
