.projectDisplay {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

  .projectHeadContainer {
    margin: 3% auto;
    border-bottom: #596e79 solid 5px;
    width: 125px;

    h2 {
      text-align: center;
      margin: 0;
      color: #222831;
    }
  }

  .projects {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
}

.project {
  border: solid #596e79 5px;
  border-radius: 15px;
  width: 25%;
  text-align: center;
  display: flex;
  flex-flow: column;
  margin-bottom: 3%;
  padding-bottom: 15px;
  .projectLinks {
    display: flex;
    justify-content: space-evenly;
  }
}
