.socialDiv {
  display: flex;
  width: 50%;
  margin: 5% auto;
  flex-direction: column;

  .socialHeader {
    margin-left: 25px;
  }

  .socialCont {
    border: solid 4px #30475e;
    border-radius: 15px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .message {
    margin: 2%;
    height: 75px;
    font-weight: bold;
    padding: 5px;
    border: 3px solid #222831;
    border-radius: 5px;
  }

  .socialForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .socialEmail {
      margin: 2%;
      height: 25px;
      font-weight: bold;
      padding: 5px;
      width: 40%;
      border: 3px solid #222831;
      border-radius: 5px;
    }
    button {
      width: 30%;
      height: 50px;
      margin-bottom: 2%;
      margin-right: 19px;
      border: 3px solid #222831;
      border-radius: 5px;
      :hover {
        text-decoration: underline;
      }
    }
    .message {
      margin: 2%;
      height: 75px;
      font-weight: bold;
      padding: 5px;
      width: 100%;
      border: 3px solid #222831;
      border-radius: 5px;
    }
  }

  .socialLogos {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-evenly;
    margin-left: 25px;
  }

  .socialMediaLogo {
    width: 35px;
    height: 35px;
    margin-bottom: 5%;
  }
}
